In [15]:
from google.cloud import bigquery
from google.oauth2 import service_account
import pandas as pd
import re
from thefuzz import fuzz
from thefuzz import process

/home/nanabediako/lib/python3.8/site-packages/thefuzz/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
## this is meant to check all communication with bq
cred=service_account.Credentials.from_service_account_file(
    "service_key.json"
)

client=bigquery.Client(credentials=cred,project='silver-rain-325220')

sql="""
select * 
from bigquery-public-data.cms_medicare.hospital_general_info
"""

data=client.query(sql).to_dataframe()

In [13]:
## we can provide a list of available datasets to sample 
def get_tables(dataset_id):
    _client=bigquery.Client(credentials=cred,project='bigquery-public-data')
    return list(_client.list_tables(dataset_id))

def get_table_names(table_object):
    # print("Tables contained in '{}':".format(table_object.dataset_id))
    tab_names=[]
    for table in table_object:
        tab_names.append(table.table_id)
    return tab_names
   
def unique_tables(dataset_id):
    
    names=[]#use regex to proceed
    for medi_name in table_object:
        names.append(medi_name.table_id[:-5])
        names=pd.Series(names,name="Table_names").unique().tolist()

In [33]:
new=pd.DataFrame()
client=bigquery.Client(credentials=cred,project='silver-rain-325220')
for names in tab_names:
    print(names.table_id)
    new=client.query("select * from {}.{}.{}".format(table.project, table.dataset_id, table.table_id)).to_dataframe()
    break

client=bigquery.Client(credentials=cred,project='bigquery-public-data')

home_health_agencies_2013

In [52]:
names=[]#use regex to proceed
for medi_name in tab_names:
    names.append(medi_name.table_id[:-5])
    names=pd.Series(names,name="Table_names").unique().tolist()

In [70]:

empt=dict()
for i in names:
    empt[i]=[]
for ls in names:
    for table in tab_names:
       if table.table_id[:-5]==ls:
            empt[ls].append(table.table_id)

In [80]:
def ingest(table_name)->pd.DataFrame:
    _client=bigquery.Client(credentials=cred,project='silver-rain-325220')
    data=_client.query("select * from {}.{}.{}".format(table.project, table.dataset_id, table.table_id)).to_dataframe()
    return data

class count_calls:
    def __init__(self,func) -> None:
        self._count=0

In [75]:
for val in empt.keys():
    for ev_tab in empt.val:
        

## Build function to union tables and use it to concat the tables

home_health_agencies
hospice_providers
hospital_general
inpatient_charges
nursing_facilities
outpatient_charges
part_d_prescriber
physicians_and_other_supplier
referring_durable_medical_equip

In [69]:
empt=dict()
for i in names:
    empt[i]=[]

empt

{'home_health_agencies': [],
 'hospice_providers': [],
 'hospital_general': [],
 'inpatient_charges': [],
 'nursing_facilities': [],
 'outpatient_charges': [],
 'part_d_prescriber': [],
 'physicians_and_other_supplier': [],
 'referring_durable_medical_equip': []}

In [16]:
data_sets=list(client.list_datasets())
project="bigquery-public-data"

In [ ]:
if data_sets:
    print("Datasets in project {}:".format(project))
    for dataset in data_sets:
        print("\t{}".format(dataset.dataset_id))
else:
    print("{} project does not contain any data_sets.".format(project))

AttributeError: 'dict' object has no attribute 'name'

In [76]:
empt

{'home_health_agencies': ['home_health_agencies_2013',
  'home_health_agencies_2014'],
 'hospice_providers': ['hospice_providers_2014'],
 'hospital_general': ['hospital_general_info'],
 'inpatient_charges': ['inpatient_charges_2011',
  'inpatient_charges_2012',
  'inpatient_charges_2013',
  'inpatient_charges_2014',
  'inpatient_charges_2015'],
 'nursing_facilities': ['nursing_facilities_2013', 'nursing_facilities_2014'],
 'outpatient_charges': ['outpatient_charges_2011',
  'outpatient_charges_2012',
  'outpatient_charges_2013',
  'outpatient_charges_2014',
  'outpatient_charges_2015'],
 'part_d_prescriber': ['part_d_prescriber_2014'],
 'physicians_and_other_supplier': ['physicians_and_other_supplier_2012',
  'physicians_and_other_supplier_2013',
  'physicians_and_other_supplier_2014',
  'physicians_and_other_supplier_2015'],
 'referring_durable_medical_equip': ['referring_durable_medical_equip_2013',
  'referring_durable_medical_equip_2014']}

In [81]:
union=pd.concat([ingest(tabs) for tabs in empt['outpatient_charges']])

In [82]:
union.head()

,referring_npi,provider_last_name,provider_first_name,provider_middle_initial,provider_credentials,provider_gender,provider_entity_code,provider_street_1,provider_street_2,provider_city,...,drug_and_nutritional_suppression_indicator,number_of_drug_and_nutritional_products_suppliers,number_of_drug_and_nutritional_products_hcpcs,number_of_drug_and_nutritional_products_beneficiaries,number_of_drug_and_nutritional_products_claims,number_of_drug_and_nutritional_products_services,drug_and_nutritional_products_submitted_charges,drug_and_nutritional_products_medicare_allowed_amount,drug_and_nutritional_products_medicare_payment_amount,drug_and_nutritional_products_medicare_standard_payment_amount
0,1184696999,CHIEN,NORMAN,T,MD,M,I,625 S FAIR OAKS AVE,SUITE 245,PASADENA,...,None,10,10,16,98,38319,44053.57,30763.55,24038.42,24038.42
1,1235212879,PANTAGIS,STEFANOS,None,MD,M,I,810 MAIN ST,None,HACKENSACK,...,None,16,12,27,209,39594,116372.68,32934.01,25624.29,25624.29
2,1831214535,MORAN,KURT,P,MD,M,I,10 GREENRIDGE STREET,SUITE#2,SCRANTON,...,None,7,11,12,55,3975,12434.58,4295.21,3073.06,3073.06
3,1013999036,HANIF,MUHAMMAD,None,M.D.,M,I,13325 HARGRAVE RD,180,HOUSTON,...,None,19,11,23,124,20680,89719.30,21965.10,16968.87,16968.87
4,1750394060,HABERMANN,RALF,C,MD,M,I,3601 THE VANDERBILT CLINIC,None,NASHVILLE,...,None,11,19,26,262,75400,400511.00,125583.66,98257.38,98257.38

In [ ]:
a=get_table_names(get_tables("cms_medicare"))
for tabs in a:
    for deux in a:
        comp=fuzz.ratio(tabs,deux)
        print("{} is {} similar to {}".format(tabs,comp,deux))

In [21]:
b='hospice_providers'.replace('_',' ')
b

'hospice providers'

In [24]:
c=map(lambda b: b.replace('_',' '),['hospice_providers','nursing_facilities'])
list(c)

['hospice providers', 'nursing facilities']